apiVersion: v1
kind: PersistentVolume
metadata:
  name: demo-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/Users/kasunranasinghe/Development/Docker/demo"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: demo-volume-claim
  namespace: "demo"
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "docker-demo-deployment"
  labels:
    app: docker-demo
    version: "latest"
  namespace: "demo"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "docker-demo"
      version: "latest"
  template:
    metadata:
      labels:
        app: docker-demo
        version: "latest"
    spec:
      containers:
        - name: "docker-demo"
          image: "docker-demo:latest"
          imagePullPolicy: "IfNotPresent"
          ports:
            - name: http-port
              containerPort: 80
          resources:
            limits:
              cpu: 200m
            requests:
              cpu: 200m
          volumeMounts:
            - name: demo-date
              mountPath: "/date"
      volumes:
        - name: demo-date
          persistentVolumeClaim:
            claimName: "demo-volume-claim"
            readOnly: false
---
apiVersion: "v1"
kind: "Service"
metadata:
  labels:
    app: "docker-demo"
    version: "latest"
  namespace: "demo"
  name: "docker-demo-service"
spec:
  ports:
    - name: "http"
      port: 8080
      nodePort: 30080
      targetPort: 80
  selector:
    app: "docker-demo"
    version: "latest"
  type: "NodePort"
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: docker-demo
  namespace: "demo"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: "docker-demo-deployment"
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
